.footer {
	height: 180px;
	background-color: $azul;
	width: 100%;
	overflow: hidden;

	.logo-footer {
		width: 150px;
		display: block;
		margin: 60px 0;
	}

	.copy {
		display: block;
		color: #ffffff;
		font-size: 1rem;
		line-height: 180px;
		text-align: center;
	}

	.redes {
		display: block;
		margin: 64px 0;
		text-align: right;

		a {
			display: inline-block;
			margin-right: 20px;
			@include animacao;

			&:last-child {
				margin-right: 0px;
			}

			&:hover {
				opacity: .5;
			}
		}
	}

	.di20 {
		float: right;
		@include animacao;

		img {
			position: relative;
			top: 20px;
		}

		&:hover {
			opacity: .5;
		}
	}

/*
	@media all and (max-width: 950px){
		.col-5, .col-2 {
			padding: 0;
		}
	}

	@media all and (max-width: 765px){
		height: auto;
		text-align: center;
		padding: 20px;

		.copy { 
			display: block;
			width: 100%;
			line-height: 2rem;
		}

		.redes {
			margin-top: 10px;
		}

		.di20 {
			float: none;

			img {
				top: 5px;
			}
		}

		.col-5, .col-2 {
			width: 100%;
		}
	}

	@media all and (max-width: 400px){
		height: auto;
		padding: 20px 0;

		.copy, .di20 {
			display: block;
			float: none;
			text-align: center;
			line-height: 25px;
		}
	}*/
}