form {
	width: 100%;
	@include clear();

	input, textarea {
		max-width: 100%;
		width: 100%;
	}

	input[type='text'], input[type='email'] {
		background-color: transparent;
		color: $cor-txt;
		line-height: 40px;
		height: 40px;
		border: 1px solid #000000;
		padding: 0 20px;
		@include box-sizing;
	}

	textarea {
		background-color: transparent;
		padding: 20px;
		color: $cor-txt;
		border: 1px solid #000000;
		height: 190px;
		resize: none;
		@include box-sizing;
	}

	button, input[type='submit'] {
		display: block;
		width: 100%;
		max-width: 550px;
		height: 40px;
		line-height: 40px;
		border-radius: 5px;
		background-color: $azul;
		color: #ffffff;
		font-size: .8rem; 
		text-align: center;
		margin: 10px auto;
		font-weight: $bold;
		@include animacao;

		&:hover {
			background-color: darken($azul, 10%);
		}
	}

	fieldset {
		padding-bottom: 10px;

		&:last-child {
			padding-bottom: 0;
		}

		span {
			border: 2px solid #5a5758;
			border-width: 0 0 2px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;
		}
	}

	&.search-form {
		display: block;
		max-width: 500px;
		width: 100%;
		margin: 30px auto 50px;
		height: 50px;
		display: block;
		position: relative;
		z-index: 999;
		background-color: transparent;
		color: #000000;
		font-weight: 400;
		color: #000000;
		font-size: .8rem;
		line-height: 50px;
		border: 1px solid #000000;
		@include box-sizing;
		@include clear;

		input {
			padding: 0px 47px 0 20px;
			height: 46px;
		}

		button {
			position: absolute;
			right: 0px;
			top: 0px;
			line-height: 1;
			color: #000000;
			cursor: pointer;
			height: 48px;
			width: 48px;
			line-height: 48px;
			z-index: 5;
			text-align: center;
			background-color: transparent;
			margin: 0px;
			font-size: 1.8rem;
			
			i {
				@include animacao;
			}

			&:hover {
				i {
					color: $pink;
				}
			}
		}
	}
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

.box-select {
	margin-bottom: 50px;
}

.select {
	height: 53px;
	display: block;
	position: relative;
	z-index: 999;
	background-color: transparent;
	color: $cor-txt;
	line-height: 53px;
	padding: 0 20px;

	@include box-sizing();

	&:before {
		content: '\f078';
		position: absolute;
		right: 0px;
		top: 1px;
		font: normal normal normal 27px/1 FontAwesome;
		color: $cor-txt;
		cursor: pointer;
		height: 53px;
		width: 53px;
		line-height: 48px;
		z-index: 5;
		text-align: center;
	}

	.icon_select {
		position: absolute;
		right: 0px;
		top: 0px;
		height: 53px;
		width: 53px;
		z-index: 10;
		cursor: pointer;
		@include animacao;

		&:hover {
			background-color: rgba($azul,0.1);
		}
	}

	ul {
		border-top: 1px solid #000000;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #ffffff;

		li {
			font-weight: $light;
			padding-left: 20px;
			color: $cor-txt;
			font-size: .8rem;
			height: 50px;
			line-height: 50px;
			border: 2px solid #000000;
			border-width: 0 1px 1px;			
			display: none;
			cursor: pointer;
			@include animacao;

			&.ativo, &.fixo {
				cursor: auto;
			}

			&.fixo {
				display: block;
			}

			&:hover{
				background-color: rgba($cor-txt,0.1);

				&.ativo, &.fixo {
					background-color: transparent;
				}
			}
		}
	}

	&.open {
		z-index: 9999;

		&:before {
			content: '\f077';
			top: -1px;
		}

		ul {
			li {
				display: block;
			}
		}
	}
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
	opacity: 1;
	color: $verde;
	font-weight: $light;
	line-height: 35px;
	font-size: 1.5rem; 
}

.msg-form {
	text-align: center;
	font-size: 1rem;
}